<div class="jumbotron jumbotron-fluid">
  
  <div class="container">
    <nav class="navbar navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1">WaterFinder</span>
        <span class="navbar-text">Map of free water spots in SoCal</span>
        <%= link_to "Add Location", "/submit", class: "btn btn-secondary" %>
    </nav>
  </div>


 <div class="container">
  	<div id='map' class='map pad2' style='height: 500px;'></div>
    <script>
//  Mapbox GL code 
    mapboxgl.accessToken = 'pk.eyJ1IjoiZHJpZGRsZWJhcmdlciIsImEiOiJjajh3aWhkbDMxczRiMzJvNGQ0azU3NjN5In0.o2fPEeGh3pH2-AeAAR0seQ';
    
      var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/light-v9',
        center: [-118.3, 33.768], // starting position [lng, lat]
        zoom: 11.1 // starting zoom
      });

      map.on('load', function () {

    	  map.addSource('location', { type: 'geojson', data: 'locations.json' });

  		  map.addLayer({
  		    id: 'location',
  		    type: 'symbol',
  		    source: 'location',
  		    layout: {
        		  'icon-image': 'drinking-water-15',
        		  'icon-allow-overlap': true,
      		}

		  })

          // When a click event occurs on a feature in the location layer, open a popup at the
          // location of the feature, with description HTML from its properties.	  
          map.on('click', 'location', function (e) {
          new mapboxgl.Popup()
            .setLngLat(e.features[0].geometry.coordinates)
            .setHTML(e.features[0].properties.name)
            .addTo(map);  
          });
  
          // Change the cursor to a pointer when the mouse is over the location layer.
          map.on('mouseenter', 'location', function () {
              map.getCanvas().style.cursor = 'pointer';
          });

          // Change it back to a pointer when it leaves.
          map.on('mouseleave', 'location', function () {
              map.getCanvas().style.cursor = '';
          });

    });
	
    </script>
</div>  

</div>


