
<!-- Map container -->

<!-- MIXPANEL TRACKING -->
<script type="text/javascript">
    mixpanel.track("View Main Map / Home");
</script>


 <div class="container-fluid" style='padding: 0px'>
  	<div id='map' class='map'></div>
    <script>
//  Mapbox GL code 
    mapboxgl.accessToken = '<%= Figaro.env.mapbox_token %>';
    
      var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/light-v9',
        center: [-118.402, 33.911], // starting position [lng, lat]
        zoom: 10.0 // starting zoom
      });

       map.on('load', function () {

          map.addSource('location', { type: 'geojson', data: 'locations.json' });

          map.loadImage('<%= asset_path('watericon.png') %>', function(error, image) {
              if (error) throw error;
              map.addImage('watericon', image);

              map.addLayer({
                id: 'location',
                type: 'symbol',
                source: 'location',
                layout: {
                    'icon-image': 'watericon',
                    'icon-allow-overlap': true,
                    'icon-size': 0.75
                }

              })

          });

            // When a click event occurs on a feature in the location layer, open a popup at the
            // location of the feature, with description HTML from its properties.    
            map.on('click', 'location', function (e) {


            new mapboxgl.Popup()
              .setLngLat(e.features[0].geometry.coordinates)
              .setHTML('<div><b>' + e.features[0].properties.name + '</b><p>' + e.features[0].properties.description + '</p><a href="/locations/' + e.features[0].properties.id + '" class="btn btn-outline-primary btn-sm btn-block"><i class="fa fa-info-circle" aria-hidden="true"></i> More Info</a></div>')
              .addTo(map);  
            });

            // Center the map on the coordinates of any clicked symbol from the location layer.
            map.on('click', 'location', function (e) {
            map.flyTo({center: e.features[0].geometry.coordinates});
            });

            // Change the cursor to a pointer when the mouse is over the location layer.
            map.on('mouseenter', 'location', function () {
                map.getCanvas().style.cursor = 'pointer';
            });

            // Change it back to a pointer when it leaves.
            map.on('mouseleave', 'location', function () {
                map.getCanvas().style.cursor = '';
            });

            // Add geolocation controls to the map.
            map.addControl(new mapboxgl.GeolocateControl({
                positionOptions: {
                enableHighAccuracy: true
                },
                trackUserLocation: true
            }));

      });
  

	
    </script>
</div>  







