<div class="jumbotron">
  <div class="container">
    <h1>MySpigot</h1>
  </div>

 <div class="container">
  	<div id='map' class='map pad2' style='height: 500px;'></div>
    <script>
//     mapboxgl code 
//
    mapboxgl.accessToken = 'pk.eyJ1IjoiZHJpZGRsZWJhcmdlciIsImEiOiJjajh3aWhkbDMxczRiMzJvNGQ0azU3NjN5In0.o2fPEeGh3pH2-AeAAR0seQ';
    
      var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/light-v9',
        center: [-118.3, 33.768], // starting position [lng, lat]
        zoom: 11.1 // starting zoom
      });

      map.on('load', function () {

    	  map.addSource('location', { type: 'geojson', data: 'locations.json' });

  		  map.addLayer({
  		    id: 'location',
  		    type: 'symbol',
  		    source: 'location',
  		    layout: {
        		  'icon-image': 'drinking-water-15',
        		  'icon-allow-overlap': true,
      		}

		  })
	  });
	
    </script>
</div>  

</div>


