<div class="container w-50" style="padding-top: 20px">

<h2>Add a New Location</h2>
<p>Add a new water spot to our database!</p>

<form>
  <div class="form-group">
    <label for="location_name">Location Name*</label>
    <input type="name" class="form-control" id="location_name" placeholder="e.g. Top of the Switchbacks">
  </div>
  <div class="form-group">
    <label for="location_description">Description*</label>  
    <textarea class="form-control" id="location_description" rows="2" placeholder="Describe the location -- how can we find it? Is it next to any landmarks?"></textarea>
  </div>

  
  <h5>Advanced:</h5>


  <div class="form-group"> 
    <label for="address_name">Address</label>
    <input type="name" class="form-control" id="address" placeholder="street address">
  </div>	
  <div class="form-group"> 
    <label for="latitude">Latitude</label>
    <input type="name" class="form-control" id="latitude" placeholder="e.g. 33.73">
  </div>
  <div class="form-group"> 
    <label for="longitude">Longitude</label>
    <input type="name" class="form-control" id="longitude" placeholder="e.g. -118.33">
  </div>


  <button type="submit" class="btn btn-secondary">Submit</button>
</form>




</div>
