.map {
  border-left: 1px solid #fff;
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
}

.pad2 {
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}