
<script type="text/javascript">
    mixpanel.track("Add Location (Page)");
</script>

<!-- Mapbox geocoder script + stylesheet -->
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.1.1/mapbox-gl-geocoder.min.js'></script>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.1.1/mapbox-gl-geocoder.css' type='text/css' />

<!-- Bootstrap Tour script + stylesheet -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.11.0/js/bootstrap-tour.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.11.0/css/bootstrap-tour-standalone.min.css">


<!-- custom styles, move to map-styling.css eventally.... -->
<style>
    #geocoder-container > div {
        min-width:50%;
        margin-left:25%;
    }

    .mapboxgl-popup {
        padding: 0px;
      }

    #droppin{
      position: absolute;
      margin: 0 auto;
      bottom: 100px;
      width: 350px;
    }

    #addcurrentlocation{
      position: absolute;
      margin: 0 auto;
      bottom: 100px;
      width: 350px;
    }

    .map-withnav {
        position: absolute;
        width: 100%;
      height: calc(100% - 56px - 59px);
    }

  .input-block-level {
    display: block;
    width: 100%;
    min-height: 28px;      
    .box-sizing(border-box); 
    border:none;
  }

  .modal-dialog {
    top: 100px;
  }

  .input-block-level:focus{
    outline: none;
  }

  #drop-pin-tour {
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-50px; /* this is half the height of your div*/  
  margin-left:-100px; /*this is half of width of your div*/
  width: 150px;
  height: 100px;
}

</style>

<div class="container-fluid" style="padding:0px;">
  <!-- tabs -->
    <div class="tab-content" id="nav-tabContent">

      <!-- Drop Pin tab -->
      <div class="tab-pane fade show active" id="nav-pin">                
        <div id='map2' class='map-withnav'><div id="drop-pin-tour"></div></div>
        <script>
            mapboxgl.accessToken = '<%= Figaro.env.mapbox_token %>';

            var mapDropPin = new mapboxgl.Map({
              container: 'map2',
              style: 'mapbox://styles/mapbox/light-v9',
                center: [-118.26, 33.97], // starting position [lng, lat]
                zoom: 9 // starting zoom
              });
      
            // Geolocater box to get in general area
            var geocoder = new MapboxGeocoder({
              accessToken: mapboxgl.accessToken
            });
            mapDropPin.addControl(geocoder, 'top-left');

            // Add zoom and rotation controls to the map.
            var navigation = new mapboxgl.NavigationControl();
            mapDropPin.addControl(navigation);  
          </script>

          <!-- Floating "drop pin" button -->
          <div class="mx-auto" style="width: 350px;">
            <button id="droppin" class="btn btn-primary btn-block" onclick="dropPin()">Drop Pin
            </button>
          </div>
      </div> <!-- end of nav-pin div -->

      <!-- Current Location tab -->
      <div class="tab-pane fade" id="nav-location"> 
        
        <div id='map1' class='map-withnav'></div>
          <script>
          mapboxgl.accessToken = '<%= Figaro.env.mapbox_token %>';
          
            var map = new mapboxgl.Map({
            container: 'map1',
            style: 'mapbox://styles/mapbox/light-v9',
              center: [-118.402, 33.911], // same coordinates as homepage
              zoom: 10.0 // starting zoom
            });

            const geolocate = new mapboxgl.GeolocateControl({
                      positionOptions: {
                      enableHighAccuracy: true
                      },
                      trackUserLocation: true
                  })
            map.addControl(geolocate)

            //map.addControl(new mapboxgl.NavigationControl({
            //          options: {showCompass: false}
            //}));

            var currentLon;
            var currentLat;
            
            geolocate.on('geolocate', function(e) {  // on geolocate, store user coordinates into variables
              currentLon = e.coords.longitude;
              currentLat = e.coords.latitude;
              // hide addpin button
              document.getElementById("addcurrentlocation").setAttribute("class", "btn btn-primary btn-block")
            });

          </script>

        <!-- Floating "Current Location button -->
        <div class="mx-auto" style="width: 350px;">
          <button id="addcurrentlocation" class="hidden" onclick="addCurrentLocation()">
          Add Current Location
          </button>
        </div>

      </div> <!-- end of nav-location tab -->
    </div> <!-- end of tab-content div -->
</div>  <!-- end of container div --> 


<!-- Bottom nav menu -->
<nav class="bottom-nav" id="bottom-nav">
  <div class="nav nav-tabs" id="nav-tab" role="tablist" data-step="1" data-intro="Two ways to add a location">
    
    <a class="bottom-nav__action bottom-nav__action--active" id="nav-pin-tab" data-toggle="tab" href="#nav-pin" role="tab" aria-controls="nav-pin" aria-selected="true" >
      <svg class="bottom-nav__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
        <path d="M192 300.813v172.82l-22.015 33.023c-4.75 7.125-15.219 7.125-19.969 0L128 473.633v-172.82a162.221 162.221 0 0 0 64 0zM160 0c79.529 0 144 64.471 144 144s-64.471 144-144 144S16 223.529 16 144 80.471 0 160 0M80 136c0-39.701 32.299-72 72-72a8 8 0 0 0 0-16c-48.523 0-88 39.477-88 88a8 8 0 0 0 16 0z">
        </path>
      </svg>
      <span class="bottom-nav__label">Drop Pin</span>
    </a>

    <a class="bottom-nav__action" id="nav-location-tab" data-toggle="tab" href="#nav-location" role="tab" aria-controls="nav-location" aria-selected="false">
      <svg class="bottom-nav__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path d="M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm0 448c-110.532 0-200-89.451-200-200 0-110.531 89.451-200 200-200 110.532 0 200 89.451 200 200 0 110.532-89.451 200-200 200zm91.326-312.131l-33.359 137.779a24.005 24.005 0 0 1-6.772 11.729l-102.64 97.779c-17.104 16.293-45.56.434-39.88-23.024l33.359-137.779a23.997 23.997 0 0 1 6.772-11.729l102.642-97.779c17.285-16.47 45.494-.175 39.878 23.024zM256 224c-17.673 0-32 14.327-32 32s14.327 32 32 32 32-14.327 32-32-14.327-32-32-32z">
        </path>
      </svg>
      <span class="bottom-nav__label">Current Location</span>
    </a>

  </div>
</nav>
<!-- End of bottom nav menu -->

<!-- Intro Modal (product tour) -->
<div class="modal fade" id="tourModal" tabindex="-1" role="dialog" aria-labelledby="tourModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tourModalModalLongTitle">First time here? How to add a WaterSpot:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        There are two ways:
        <table class="table"> 
          <tr>
            <td> 
                <svg class="bottom-nav__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                  <path d="M192 300.813v172.82l-22.015 33.023c-4.75 7.125-15.219 7.125-19.969 0L128 473.633v-172.82a162.221 162.221 0 0 0 64 0zM160 0c79.529 0 144 64.471 144 144s-64.471 144-144 144S16 223.529 16 144 80.471 0 160 0M80 136c0-39.701 32.299-72 72-72a8 8 0 0 0 0-16c-48.523 0-88 39.477-88 88a8 8 0 0 0 16 0z">
                  </path>
                </svg>
            </td>
            <td><small><b>Drop Pin</b> (default): Manually add a spot to the map by dropping a pin. This works best when you're not physically at the location.</small></td>
          </tr>
          <tr>
            <td> 
              <svg class="bottom-nav__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path d="M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm0 448c-110.532 0-200-89.451-200-200 0-110.531 89.451-200 200-200 110.532 0 200 89.451 200 200 0 110.532-89.451 200-200 200zm91.326-312.131l-33.359 137.779a24.005 24.005 0 0 1-6.772 11.729l-102.64 97.779c-17.104 16.293-45.56.434-39.88-23.024l33.359-137.779a23.997 23.997 0 0 1 6.772-11.729l102.642-97.779c17.285-16.47 45.494-.175 39.878 23.024zM256 224c-17.673 0-32 14.327-32 32s14.327 32 32 32 32-14.327 32-32-14.327-32-32-32z">
                </path>
              </svg>
            </td>
            <td><small><b>Current Location:</b> This will add your current location to the map. This is best if you're physically at the location and using a smartphone.</small></td>
          </tr>
        </table>
        <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-primary btn-block">Got it!</button>
      </div>
    </div>
  </div>
</div>

<!-- Drop Pin explanation Modal -->
<div class="modal fade" id="dropPinModal" tabindex="-1" role="dialog" aria-labelledby="dropPinModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="dropPinLongTitle">How to: Drop a Pin</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <small><p>Zoom in / pan the map with your thumbs (or mouse) until the water icon reaches your desired location, then tap "Select Location". Zoom in as much as you can in order to be as accurate as possible. The icon will remain at the center of the screen.</p></small>
        <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-primary btn-block">Got it!</button>
      </div>
    </div>
  </div>
</div>

<!-- Current Location explanation Modal -->
<div class="modal fade" id="currentLocationModal" tabindex="-1" role="dialog" aria-labelledby="currentLocationModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="currentLocationLongTitle">How to: Current Location</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <small><p>Allow WaterSpotter to use your Current Location. Then wait until your location is shown on the map (blue dot), and click "Add Current Location". If your location isn't showing up, try clicking the "wheel" icon on the upper right part of the map.</p></small>
        <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-primary btn-block">Got it!</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal form -->
<div class="modal fade" id="locationDataModal" tabindex="-1" role="dialog" aria-labelledby="locationDataModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="locationDataModalLongTitle">Add WaterSpot</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      <%= render :partial => 'form' %>
      
      </div>
    </div>
  </div>
</div>
<!-- End of Modals -->



<!-- JavaScript functions -->
<script>
  $(document).ready(function(){
 
      if (localStorage.getItem('#tourModal') !== 'true') {
        $('#tourModal').modal('show');

        // Only allow #tourModal to open on first visit
        localStorage.setItem('#tourModal', 'true');
      }
      
    //////// Tab stuff //////////
    // Show tab content on click

      $(".nav-tabs a").click(function(){
          $(this).tab('show');
      });
      // resize map canvas when tab is finished opening (fix 300px bug)
      $('.nav-tabs a').on('shown.bs.tab', function(){   
          map.resize();
      });
      // Turn on geolocation ONLY after 'Current Location' tab is opened
      $('#nav-location-tab').on('shown.bs.tab', function(){
        console.log("current location tab opened")
        geolocate.trigger(); // trigger geolocate on opening of 2nd tab
        // setTimeout(geolocate._onClickGeolocate.bind(geolocate), 5);  // deprecated, now use trigger method above
        $('#currentLocationModal').modal('show');
      });
      $('#nav-location-tab').on('hidden.bs.tab', function(){ // turn off geolocation when 2nd tab closes 
        geolocate.trigger();
        //map.removeControl(geolocate); 
        console.log('close 2nd tab');
      });
  });

  // Adjust the nav icons to active/inactive states
  $("#nav-location-tab").click(function() {
    $("#nav-location-tab").addClass("bottom-nav__action--active");
    $("#nav-pin-tab").removeClass("bottom-nav__action--active");
  });
  $("#nav-pin-tab").click(function() {
    $("#nav-pin-tab").addClass("bottom-nav__action--active");
    $("#nav-location-tab").removeClass("bottom-nav__action--active");
  });

  


  //// Javascript functions ////////

  // Drop Pin Button
  function dropPin(){   

    // Modal to explain drop pin function
    $('#dropPinModal').modal('show');

    // Figure out where map center is
    var center = mapDropPin.getCenter()

      // Create popup with "Select Location button"
      var popup = new mapboxgl.Popup({
        closeButton: false,
        closeOnClick: false,
        offset: 15
      })
        .setHTML("<button class='btn btn-primary btn-block' onclick='selectLocation()'><i class='fa fa-map-marker' aria-hidden='true'></i> Select Location</button>")

      // Add Watericon at center of map
      var el = document.createElement('div');
      el.className = 'marker';
      var pin = new mapboxgl.Marker(el)
      .setLngLat(center)
      .addTo(mapDropPin)
      .setPopup(popup)
      .togglePopup(popup);


      // change pin position to center of map (on drag)
      mapDropPin.on('drag', function (e) {
        center = mapDropPin.getCenter()
          pin.setLngLat(center)
      });

      // change pin position to center of map (on zoom)
      mapDropPin.on('zoom', function (e) {
        center = mapDropPin.getCenter()
          pin.setLngLat(center)
      });

      // hide addpin button
      document.getElementById("droppin").setAttribute("class", "hidden");
  };   

  

  // add another function when location is "selected"
  function selectLocation(){
   
    // get center coordinates (= pin coordinates)
    var center = mapDropPin.getCenter()

    // pop up submit modal
    $('#locationDataModal').modal()
    $('#locationDataModal').on('shown.bs.modal', function(e) {

          //pass center lat and long to modal form 
          $(e.currentTarget).find('input[id="latitude"]').val(center.lat);
          $(e.currentTarget).find('input[id="longitude"]').val(center.lng);
    });
  };



  //// Add Current Location /////
  function addCurrentLocation(){
    // pop up submit modal
    $("#locationDataModal").modal()
    $('#locationDataModal').on('shown.bs.modal', function(e) {

          //pass user's lat and long to modal form 
          $(e.currentTarget).find('input[id="latitude"]').val(currentLat);
          $(e.currentTarget).find('input[id="longitude"]').val(currentLon);
    });
  };

</script>


