<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to WaterSpotter</title>
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Lato:300,400,700,900" rel="stylesheet">


    <link rel="stylesheet" href="assets/bootstrap.min.css">
    <!-- Font Aweosme -->
    <link rel="stylesheet" href="assets/font-awesome.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="assets/animate.css">
    <!-- Bootstrap Social -->
    <link rel="stylesheet" href="assets/bootstrap-social.css">
    
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="assets/normalize.css">
    <link rel="stylesheet" href="assets/style.css">
    <link rel="stylesheet" href="assets/responsive.css">
   
    
    <!-- teamplate colors -->
    <link rel="stylesheet" href="assets/light-blue.css" id="color-switch">

</head>
<body>

    <!-- main content -->
      <%= yield %>
	
    <!-- ===================================================
        Javascript Files
    ===================================================== -->
    <!-- jQuery Library -->
    <script src="assets/jquery-1.12.0.min.js"></script>
    <!-- Boostrap JS -->
    <script src="assets/bootstrap.min.js"></script>


</body>

</html>
